#page-header {
  background-color: $header-color;
  border-bottom: 0.1rem solid #F60A20;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

  text-align: center;
  color: #F60A20;
  font-size: 2rem;
}